<template>
  <div class="overflow-auto touch-none">
    <div>
      <SharedNotification :show="notif" title="User Berhasil Ditambahkan" />
    </div>
    <button
      class="w-full bg-[#930001] text-white active:bg-blue-950 font-medium text-sm px-2 py-1.5 rounded shadow hover:shadow-lg outline-none focus:outline-none mr-1 mb-1 ease-linear transition-all duration-150"
      type="button"
      @click="toggleModal()"
    >
      <!-- <CheckCircleIcon class="h-7 w-5 flex-none" aria-hidden="true" /> -->
      <span class="flex justify-center gap-x-3">
        {{ title }}
      </span>
    </button>
    <TransitionRoot as="template" :show="show">
      <Dialog as="div" class="relative z-10">
        <TransitionChild
          as="template"
          enter="ease-out duration-300"
          enter-from="opacity-0"
          enter-to="opacity-100"
          leave="ease-in duration-200"
          leave-from="opacity-100"
          leave-to="opacity-0"
        >
          <div
            class="fixed inset-0 bg-gray-500 bg-opacity-75 transition-opacity"
          />
        </TransitionChild>

        <div class="fixed inset-0 z-10 overflow-y-auto">
          <div
            class="flex min-h-full items-center justify-center p-4 text-center sm:items-center sm:p-0"
          >
            <TransitionChild
              as="template"
              enter="ease-out duration-300"
              enter-from="opacity-0 translate-y-4 sm:translate-y-0 sm:scale-95"
              enter-to="opacity-100 translate-y-0 sm:scale-100"
              leave="ease-in duration-200"
              leave-from="opacity-100 translate-y-0 sm:scale-100"
              leave-to="opacity-0 translate-y-4 sm:translate-y-0 sm:scale-95"
            >
              <DialogPanel
                class="relative transform overflow-hidden rounded-lg bg-[#fed8ad] px-4 pb-4 pt-5 text-left shadow-xl transition-all w-full"
              >
                <form @submit.prevent="submit(payload)">
                  <div>
                    <!-- <div
                      class="mx-auto flex h-12 w-12 items-center justify-center rounded-full bg-blue-100"
                    >
                      <UserIcon
                        class="h-6 w-6 text-blue-600"
                        aria-hidden="true"
                      />
                    </div> -->

                    <div class="mt-3 sm:mt-5">
                      <DialogTitle
                        class="text-2xl text-center font-semibold text-gray-900"
                      >
                        <p>{{ title }} {{ datum.name }}</p>
                        <p
                          class="mt-4 text-xl text-[#930001] font-bold text-center"
                        >
                          {{ currency(datum.price) }}
                        </p>
                      </DialogTitle>

                      <div class="w-1/2 mx-auto mt-6">
                        <img
                          class="aspect-square justify-center bg-[#930001] w-full rounded-2xl object-cover"
                          :src="datum.imageUrl"
                          alt=""
                        />
                      </div>
                      <div class="mt-4">
                        <p class="text-black text-lg font-normal text-center">
                          {{ datum.desc }}
                        </p>
                      </div>

                      <div class="grid grid-cols-3 mt-6">
                        <button
                          class="bg-blue-900 hover:bg-blue-800 text-white font-bold py-2 px-4 disabled:bg-gray-100"
                          :disabled="payload.qty <= 1"
                          @click="payload.qty--"
                        >
                          <svg
                            xmlns="http://www.w3.org/2000/svg"
                            viewBox="0 0 24 24"
                            fill="currentColor"
                            class="w-6 h-6 mx-auto"
                          >
                            <path
                              fill-rule="evenodd"
                              d="M4.25 12a.75.75 0 0 1 .75-.75h14a.75.75 0 0 1 0 1.5H5a.75.75 0 0 1-.75-.75Z"
                              clip-rule="evenodd"
                            />
                          </svg>
                        </button>
                        <input
                          v-model="payload.qty"
                          type="number"
                          class="block w-full bg-white text-center text-2xl border-0 px-2 py-1.5 text-black ring-1 ring-inset ring-gray-300 placeholder:text-gray-400 focus:ring-2 focus:ring-inset focus:ring-indigo-600 sm:text-sm sm:leading-6"
                          readonly
                        />
                        <button
                          class="bg-blue-900 hover:bg-blue-800 text-white font-bold py-2 px-4"
                          @click="payload.qty++"
                        >
                          <svg
                            xmlns="http://www.w3.org/2000/svg"
                            viewBox="0 0 24 24"
                            fill="currentColor"
                            class="w-6 h-6 mx-auto"
                          >
                            <path
                              fill-rule="evenodd"
                              d="M12 3.75a.75.75 0 0 1 .75.75v6.75h6.75a.75.75 0 0 1 0 1.5h-6.75v6.75a.75.75 0 0 1-1.5 0v-6.75H4.5a.75.75 0 0 1 0-1.5h6.75V4.5a.75.75 0 0 1 .75-.75Z"
                              clip-rule="evenodd"
                            />
                          </svg>
                        </button>
                      </div>

                      <div class="grid grid-cols-2 my-8 text-black text-2xl">
                        <p class="text-left font-bold">Total Bayar:</p>
                        <p class="text-right">
                          {{ currency(payload.qty * datum.price) }}
                        </p>
                      </div>
                    </div>
                  </div>
                  <div
                    class="grid grid-cols-2 gap-x-4 sm:mt-6 sm:grid sm:grid-flow-row-dense sm:grid-cols-2 sm:gap-3"
                  >
                    <button
                      type="button"
                      class="inline-flex w-full justify-center rounded-md bg-white px-3 py-2 text-sm font-semibold text-gray-900 shadow-sm ring-1 ring-inset ring-gray-300 hover:bg-gray-50 sm:col-start-1 sm:mt-0"
                      @click="open = false"
                    >
                      Cancel
                    </button>
                    <button
                      type="submit"
                      class="inline-flex w-full justify-center rounded-md bg-[#930001] disabled:bg-gray-400 px-3 py-2 text-sm font-semibold text-white shadow-sm hover:bg-indigo-500 focus-visible:outline focus-visible:outline-2 focus-visible:outline-offset-2 focus-visible:outline-indigo-600 sm:col-start-2"
                    >
                      Submit
                    </button>
                  </div>
                </form>
              </DialogPanel>
            </TransitionChild>
          </div>
        </div>
      </Dialog>
    </TransitionRoot>
  </div>
</template>

<script setup>
import { ref, computed } from "vue";
import { CheckCircleIcon } from "@heroicons/vue/20/solid";
import {
  Dialog,
  DialogPanel,
  DialogTitle,
  TransitionChild,
  TransitionRoot,
} from "@headlessui/vue";
import { UserIcon } from "@heroicons/vue/24/outline";

// props
const props = defineProps(["title", "datum"]);

//store
// const userStore = useUserStore();

// data
const { title } = props;
const bebas = props.datum;
const payload = ref({
  qty: 1,
  item: props.title,
});
const open = ref(false);
const notif = ref(false);

// computed
const show = computed(() => open.value);

// methods
function toggleModal() {
  open.value = true;
}

function currency(val) {
  return new Intl.NumberFormat("id-ID", {
    style: "currency",
    currency: "IDR",
  }).format(parseInt(val));
}

async function submit(payload) {
  // try {
  //   await userStore.addUser(payload);
  //   open.value = false;
  //   userStore.fetchUsers();
  //   notif.value = true;
  //   setTimeout(() => {
  //     notif.value = false;
  //   }, 3000);
  // } catch (error) {
  //   console.log(error.message);
  // }
  console.log(payload, "hehe");
}
</script>
