<template>
  <div
    v-if="$device.isMobile"
    class="min-h-screen bg-[#fed8ad] text-[#930001] py-24 sm:py-32"
  >
    <div class="mx-auto max-w-7xl px-6 lg:px-8">
      <div class="mx-auto text-center underline max-w-2xl lg:mx-0">
        <h2 class="text-3xl font-bold tracking-tight text-gray-900 sm:text-4xl">
          MENU
        </h2>
      </div>
      <ul
        role="list"
        class="mx-auto mt-20 grid max-w-2xl grid-cols-2 gap-x-8 gap-y-16 sm:grid-cols-2 lg:mx-0 lg:max-w-none lg:grid-cols-3"
      >
        <li v-for="item in products" :key="item.id">
          <img
            class="aspect-square bg-[#930001] w-full rounded-2xl object-cover"
            :src="item.imageUrl"
            alt=""
          />
          <p class="mt-2 text-lg text-center font-semibold text-gray-900">
            {{ item.name }}
          </p>
          <p class="mt-2 text-base font-bold text-center text-[#930001]">
            {{ currency(item.price) }}
          </p>
          <div class="mt-2">
            <Checkout :datum="item" title="Checkout" />
          </div>
        </li>
      </ul>
    </div>
  </div>
</template>

<script setup>
const products = [
  {
    id: 1,
    name: "Dimsum Wortel",
    desc: "Dimsum daging ayam topping wortel",
    price: 20000,
    imageUrl: "/img/dimsum-wortel.png",
  },
  {
    id: 2,
    name: "Dimsum Keju",
    desc: "Dimsum daging ayam topping keju mozarella",
    price: 20000,
    imageUrl: "/img/dimsum-keju.png",
  },
  {
    id: 3,
    name: "Dimsum Spicy Mayo",
    desc: "Dimsum daging ayam, udang, dan jamur dengan saos spicy mayo",
    price: 25000,
    imageUrl: "/img/dimsum-spicy-mayo.png",
  },
  {
    id: 4,
    name: "Dimsum Lumpia Udang",
    desc: "Dimsum daging ayam dan daging udang",
    price: 20000,
    imageUrl: "/img/dimsum-lumpia-udang.png",
  },
  {
    id: 5,
    name: "Spaghetti Brulee",
    desc: "Spaghetti bolognese dengan siraman saus brulee",
    price: 25000,
    imageUrl: "/img/spaghetti-brulee.png",
  },
  {
    id: 6,
    name: "Dimsum Mix Variant",
    desc: "Menyajikan semua varian dimsum",
    price: 25000,
    imageUrl: "/img/dimsum-mix-variant.png",
  },
  // More products...
];

// methods
function currency(val) {
  return new Intl.NumberFormat("id-ID", {
    style: "currency",
    currency: "IDR",
  }).format(parseInt(val));
}
</script>
